*.gem
*.rbc
.bundle
.config
.yardoc
new_rectory_redirects.csv
results_new_rectory_redirects.csv
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
test/tmp
test/version_tmp
tmp
spec/support/emit_spec_csv_output.csv
